@charset "UTF-8";
aside.losvideos{
	float:left;
	width:75%;
	padding:10px;
}
nav{
	background-color:black;
	margin:0;
}
ul{
	list-style-type:none;
	margin-bottom: 10px;
}
li{
	text-align:center;
	margin-bottom:10px;
	list-style-type:none;
}
a{
	text-decoration:none;
	color: white;
	font-family: monospace;
}
.menu{	
	width:33%;
	height: 100px;
	display:inline-block;
}
.menu:hover{
	background-color: grey;
}
#imagen{
	text-align:center;
}
section{
	width:70%;
	float:left;
}
section>video.losvideos{
	float:left;
	width:100%;
}
aside{
	width:30%;
	float:left;
}
